<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_manipulation_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Missing Data in Pandas

* Missing Data is a very big problem in a real-life scenarios.
* Missing Data can also refer to as NA(Not Available) values in pandas.
* In DataFrame sometimes many datasets simply arrive with missing data, either because it exists and was not collected or it never existed.

* In Pandas missing data is represented by two value:

None : None is a Python singleton object that is often used for missing data in Python code.

NaN : NaN (an acronym for Not a Number)

there are several useful functions for detecting, removing, and replacing null values in Pandas DataFrame :

1. isnull()   

2. notnull()

3. dropna()

4. fillna()

5. replace()

6. interpolate()

## isnull() -- will return True for each null value found

In [2]:
import pandas as pd

import numpy as np

dict = {'First Score':[100, 90, 95,np.nan],
		'Second Score': [30, 45,np.nan, 56],
		'Third Score':[ np.nan,40, 80, 98]}

df=pd.DataFrame(dict)

df.isnull()                # will return true for each null value

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2        False          True        False
3         True         False        False

## isnotnull()-- will return True if value is present.

In [4]:
import pandas as pd

import numpy as np

dict = {'First Score':[100, 90, 95,None],
		'Second Score': [30, 45,np.nan, 56],
		'Third Score':[ np.nan,40, 80, 98]}

df=pd.DataFrame(dict)

df.notnull()

   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2         True         False         True
3        False          True         True

## fillna()

In [19]:
import pandas as pd


import numpy as np


dict = {'First Score':[100, 90, np.nan, 95],
		'Second Score': [30, 45, 56, np.nan],
		'Third Score':[np.nan, 40, 80, 98]}

data = pd.DataFrame(dict)

data1=data.fillna("hello")

print(data1)

  First Score Second Score Third Score
0       100.0         30.0       hello
1        90.0         45.0        40.0
2       hello         56.0        80.0
3        95.0        hello        98.0

## forward filling ---- fillna(method='ffill')--# filling a missing value with previous ones

In [16]:
import pandas as pd


import numpy as np


dict = {'First Score':[100, 90, np.nan, 95],
		'Second Score': [30, 45, 56, np.nan],
		'Third Score':[np.nan, 40, 80, 98]}

data = pd.DataFrame(dict)


data1=data.fillna(method='ffill')  # filling a missing value with previous ones


print(data1)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0

## backward filling --fillna(method='bfill')-- #Filling null value with the next ones

In [17]:
import pandas as pd

import numpy as np

dict = {'First Score':[100, 90, np.nan, 95],
		'Second Score': [30, 45, 56, np.nan],
		'Third Score':[np.nan, 40, 80, 98]}


data=pd.DataFrame(dict)

data1=data.fillna(method='bfill')

print(data1)

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

## Filling null values in CSV File

In [22]:
import pandas as pd

dict = {'First Score':[100, 90, np.nan, 95],
		'Second Score': [30, 45, 56, np.nan],
		'Third Score':[np.nan, 40, 80, 98]}

data=pd.DataFrame(dict)

data['Third Score'].fillna("welcome",inplace=True)


print(data)

   First Score  Second Score Third Score
0        100.0          30.0     welcome
1         90.0          45.0        40.0
2          NaN          56.0        80.0
3         95.0           NaN        98.0

In [23]:
import pandas as pd

dict = {'First Score':[100, 90, np.nan, 95],
		'Second Score': [30, 45, 56, np.nan],
		'Third Score':[np.nan, 40, 80, 98]}

data=pd.DataFrame(dict)

data['Second Score'].fillna("python",inplace=True)

print(data)

   First Score Second Score  Third Score
0        100.0         30.0          NaN
1         90.0         45.0         40.0
2          NaN         56.0         80.0
3         95.0       python         98.0