<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_01_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas provide various data structures and opearations for manipulating

1.  Pandas is open source python library that is made mainly for working with
   relational or labeled data.

2. Pandas provide various data structures and opearations for manipulating
  **numerical data** and **time series.**

##Pandas generally provide two data structures for manipulating data:



1.   Series
2.   DataFrame

#1. Series

1. Pandas series is 1-Dimensional array that can store data of any type.

2. Pandas series is nothing but coloumn in an excel sheet/table.

In [ ]:
import pandas as pd

list=[1,5,8,4,12]                  # with list
a=pd.Series(list)
print(a)

0     1
1     5
2     8
3     4
4    12
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

arr=np.array([5,True,"kedro",9.668,2])

a=pd.Series(arr)

print(a)

0        5
1     True
2    kedro
3    9.668
4        2
dtype: object

## Labels
1. If nothing else is specified, the values are labeled with their index number.

2. First value has index 0, second value has index 1 etc.

e.g.  
      
      label     value
      0         55

      1        True

      2        great

      3        8.36

In [21]:
import pandas as pd


l1=[55,True,"great",8.36]

s=pd.Series(l1)

print(s)

print(s[0])

0       55
1     True
2    great
3     8.36
dtype: object
55

## Create labels

create your own labels

In [32]:
import pandas as pd

a=[41,"car",False,88.58]

s=pd.Series(a,index=["x","y","z",9])

print(s)

print("show me the value associated with y label is   " , s["x"])

x       41
y      car
z    False
9    88.58
dtype: object
show me the value associated with y label is    41

## dictionary

### The keys of the dictionary become the labels.

In [33]:
import pandas as pd

dict2={"car1":"honda","car2":"hyundai","car3":"tata"}

a=pd.Series(dict2)

print(a)

car1      honda
car2    hyundai
car3       tata
dtype: object

In [38]:
import pandas as pd

dict2={"car1":"honda","car2":"hyundai","car3":"tata","car4":"toyota"}

a=pd.Series(dict2,index=["car1","car2"])     #Create a Series using only data from "car1" and "car2"

print(a)

car1      honda
car2    hyundai
dtype: object