<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_DataFrame_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## What is a DataFrame?
1. A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

#DataFrames
1. Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

2. DataFrame consists of three principal components, the data, rows, and columns.

3. **Series is like a column, a DataFrame is the whole table.**

In [ ]:
import pandas as pd

persondata={"height":[165,170,177],"weight":[50,65,81]}

df=pd.DataFrame(persondata)     # we havent provided index so default index will get assigned

print(df)

   height  weight
0     165      50
1     170      65
2     177      81

In [ ]:
import pandas as pd

vehicles={"cars":["honda","toyota","tata"],"year":[2015,2018,2022]}

df=pd.DataFrame(vehicles,index=["4lac","8lac","9lac"])     # we are providing index also

print(df)

        cars  year
4lac   honda  2015
8lac  toyota  2018
9lac    tata  2022

In [ ]:
import pandas as pd

persondata={"height":[167,160,178],"weight":[55,62,72]}

df=pd.DataFrame(persondata)

print(df.loc[1])     #  This example returns a Pandas Series.

print("\n")

print(df.loc[[0,2]]) # This example returns a Pandas DataFrame.          use a list of indexes

height    160
weight     62
Name: 1, dtype: int64


   height  weight
0     167      55
2     178      72

In [ ]:

print(df.loc[0])   #return pandas series

print("\n")

print(df.loc[[0,2]])   #returns pandas DataFrame

height    167
weight     55
Name: 0, dtype: int64


   height  weight
0     167      55
2     178      72

In [ ]:
import pandas as pd

vehicles={"car":["honda","hyundai","toyota"],"year":[2015,2019,2022]}

df=pd.DataFrame(vehicles,index=["4lac","11lac","25lac"])

print(df)
print("\n")
print(df.loc["4lac"])
print(type(df.loc["4lac"]))  #type is pandas Series
print("\n")
print(df.loc[["4lac","25lac"]])
print(type(df.loc[["4lac","25lac"]]))   #type is pandas DataFrame

           car  year
4lac     honda  2015
11lac  hyundai  2019
25lac   toyota  2022


car     honda
year     2015
Name: 4lac, dtype: object
<class 'pandas.core.series.Series'>


          car  year
4lac    honda  2015
25lac  toyota  2022
<class 'pandas.core.frame.DataFrame'>