<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_manipulation_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Delete rows/columns from DataFrame using Pandas.drop()
Syntax: DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors=’raise’)

Parameters:

**labels**: String or list of strings referring row or column name.

**axis**: int or string value, 0 ‘index’ for Rows and 1 ‘columns’ for Columns.

**index or columns**: Single label or list. index or columns are an alternative to axis and cannot be used together.

**level**: Used to specify level in case data frame is having multiple level index.

**inplace**: Makes changes in original Data Frame if True.

**errors**: Ignores error if any value from the list doesn’t exists and drops rest of the values when errors = ‘ignore’

**Return type**: Dataframe with dropped values

## dropping rows from DataFrame

In [ ]:
import pandas as pd

data1=pd.read_csv("/content/student.csv")


datanew=data1.drop([5,7,8,9,10],axis=0,inplace=False)      # drop record(rows) using primary key in table


print(datanew)

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
6    7  My John Rob  Fifth    78    male
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

## dropping colomns from DataFrame

In [ ]:
data1=pd.read_csv("/content/student.csv")

datanew=data1.drop(["mark"],axis=1,inplace= False)     #observe we are not writing pd.drop

print(datanew)                          # mark coloumn is removed from DataFrame(or table)

    id         name  class  gender
0    1     John Deo   Four  female
1    2     Max Ruin  Three    male
2    3       Arnold  Three    male
3    4   Krish Star   Four  female
4    5    John Mike   Four  female
5    6    Alex John   Four    male
6    7  My John Rob  Fifth    male
7    8       Asruid   Five    male
8    9      Tes Qry    Six    male
9   10     Big John   Four  female
10  11       Ronald    Six  female
11  12        Recky    Six  female
12  13          Kty  Seven  female
13  14         Bigy  Seven  female
14  15     Tade Row   Four    male
15  16        Gimmy   Four    male
16  17        Tumyu    Six    male
17  18        Honny   Five    male
18  19        Tinny   Nine    male
19  20       Jackly   Nine  female
20  21   Babby John   Four  female
21  22       Reggid  Seven  female
22  23        Herod  Eight    male
23  24    Tiddy Now  Seven    male
24  25     Giff Tow  Seven    male
25  26       Crelea  Seven    male
26  27     Big Nose  Three  female
27  28    Rojj Base  Seven  female
28  29  Tess Played  Seven    male
29  30    Reppy Red    Six  female
30  31  Marry Toeey   Four    male
31  32    Binn Rott  Seven  female
32  33    Kenn Rein    Six  female
33  34     Gain Toe  Seven    male
34  35   Rows Noump    Six  female

## DataFrame truncate()

In [ ]:
import pandas as pd

dict3={"height":[175,165,160],"weight":[55,65,70]}

df=pd.DataFrame(dict3)

index1=pd.date_range('2010-10-09 08:45',periods=3,freq='H')    # freq='H',freq='min',freq='M'(for month),freq='Y'(year),freq='w'(for week),freq='D'

  # pandas automatically read and understand the above date format try changing it it still understand it
df.index=index1

print(df)

                     height  weight
2010-10-09 08:45:00     175      55
2010-10-09 09:45:00     165      65
2010-10-09 10:45:00     160      70

In [1]:
import pandas as pd

dict3={"height":[175,165,160],"weight":[55,65,70]}

df=pd.DataFrame(dict3)

index1=pd.date_range('17/10/2022 08:30',periods=3,freq='d')   # freq='D' or 'd'(not case sensitive)

df.index=index1

print(df)

                     height  weight
2022-10-17 08:30:00     175      55
2022-10-18 08:30:00     165      65
2022-10-19 08:30:00     160      70

In [14]:
import pandas as pd

df = pd.DataFrame({'Weight':[45, 88, 56, 15, 71],
				'Name':['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
				'Age':[14, 25, 55, 8, 21]})

index1=pd.date_range('17/10/2022 09:30',periods=5,freq='H')

df.index=index1

print(df)

print("\n")

result=df.truncate(before='2022-10-17 10:30:00',after='2022-10-17 12:30:00')

print(result)

                     Weight    Name  Age
2022-10-17 09:30:00      45     Sam   14
2022-10-17 10:30:00      88  Andrea   25
2022-10-17 11:30:00      56    Alex   55
2022-10-17 12:30:00      15   Robin    8
2022-10-17 13:30:00      71     Kia   21


                     Weight    Name  Age
2022-10-17 10:30:00      88  Andrea   25
2022-10-17 11:30:00      56    Alex   55
2022-10-17 12:30:00      15   Robin    8

Empty DataFrame
Columns: [Weight, Name, Age]
Index: []