<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_manipulation_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## replace () function

In [1]:
import pandas as pd

import numpy as np

df = pd.DataFrame({"A":[12, 4, 5, None, 1],
				"B":[None, 2, 54, 3, None],
				"C":[20, 16, None, 3, 8],
				"D":[14, 3, None, None, 6]})

df1=df.replace(to_replace=5,value="hello")

print(df1)

       A     B     C     D
0   12.0   NaN  20.0  14.0
1    4.0   2.0  16.0   3.0
2  hello  54.0   NaN   NaN
3    NaN   3.0   3.0   NaN
4    1.0   NaN   8.0   6.0

In [4]:
import pandas as pd

import numpy as np

df = pd.DataFrame({"A":[12, 4, 5, None, 1],
				"B":[None, 2, 54, 3, None],
				"C":[20, 16, None, 3, 8],
				"D":[14, 3, None, None, 6]})

df1=df.replace(to_replace = np.nan,value="india")     # remember np.nan

print(df1)

       A      B      C      D
0   12.0  india   20.0   14.0
1    4.0    2.0   16.0    3.0
2    5.0   54.0  india  india
3  india    3.0    3.0  india
4    1.0  india    8.0    6.0
       A      B      C      D
0   12.0  india   20.0   14.0
1    4.0    2.0   16.0    3.0
2    5.0   54.0  india  india
3  india    3.0    3.0  india
4    1.0  india    8.0    6.0

## interpolate()

In [15]:
import pandas as pd

df = pd.DataFrame({"A":[12, 4, 5, None,55, 1],
				"B":[None, 2, 54, 3, None,44],
				"C":[20, 16, None, 3, 8,33],
				"D":[14, 10, None, None,None, 8]})
df1=df.interpolate(method='linear',limit_direction='forward')

print(df1)                        # observe coloumn D in output

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   2.0  16.0  10.0
2   5.0  54.0   9.5   9.5
3  30.0   3.0   3.0   9.0
4  55.0  23.5   8.0   8.5
5   1.0  44.0  33.0   8.0

## dropna()--

## 1. Dropping rows with at least 1 null value.

In [18]:
import pandas as pd

df = pd.DataFrame({"A":[12, 4, 5, None,55, 1],
				"B":[None, 2, 54, 3, None,44],
				"C":[20, 16, None, 3, 8,33],
				"D":[14, 10, None, None,None, 8]})

print(df)

print("********************************************")

df.dropna()    # or df.dropna(axis=0)

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   2.0  16.0  10.0
2   5.0  54.0   NaN   NaN
3   NaN   3.0   3.0   NaN
4  55.0   NaN   8.0   NaN
5   1.0  44.0  33.0   8.0
********************************************

     A     B     C     D
1  4.0   2.0  16.0  10.0
5  1.0  44.0  33.0   8.0

## 2: Dropping rows if all values in that row are missing."

In [20]:
import pandas as pd

df = pd.DataFrame({"A":[12, 4, 5, None,55, 1],
				"B":[None, 2, 54, 3, None,44],
				"C":[20, 16, None, 3, 8,33],
				"D":[14, 10, None, None,None, 8]})

df.dropna(how='all')  # if rows contains all null values it will remove that row

# but here in this example we dont have such row

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   2.0  16.0  10.0
2   5.0  54.0   NaN   NaN
3   NaN   3.0   3.0   NaN
4  55.0   NaN   8.0   NaN
5   1.0  44.0  33.0   8.0

## dropping coloumn with atleast 1 null value

In [24]:
import pandas as pd

df = pd.DataFrame({"A":[12, 4, 5, None,55, 1],
				"B":[58, 2, 54, 3, 99,44],
				"C":[20, 16, None, 3, 8,33],
				"D":[14, 10, None, None,None, 8]})

df.dropna(axis=1)

    B
0  58
1   2
2  54
3   3
4  99
5  44