<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_ipl_data_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# calculating strike rate

In [73]:
import pandas as pd

delivery=pd.read_csv('/content/deliveries.csv')

delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [74]:

player=delivery.groupby('batsman')

totalruns=player['batsman_runs'].sum().sort_values()

totalruns

batsman
S Kaushik            0
S Ladda              0
V Pratap Singh       0
L Ablish             0
IC Pandey            0
                  ...
DA Warner         4014
G Gambhir         4132
RG Sharma         4207
V Kohli           4423
SK Raina          4548
Name: batsman_runs, Length: 461, dtype: int64

In [75]:
ballplayed=player['batsman'].count().sort_values()   # observe ball column we cant use sum on it hence we counted batsman name....for each ball he played

ballplayed

batsman
S Kaushik           1
Sunny Gupta         1
C Nanda             1
DP Vijaykumar       1
YA Abdulla          1
                 ...
S Dhawan         3005
RG Sharma        3274
SK Raina         3369
G Gambhir        3433
V Kohli          3494
Name: batsman, Length: 461, dtype: int64

In [68]:
mask=ballplayed>200

list1=ballplayed[mask]

list1

batsman
MR Marsh            201
MD Mishra           213
AA Jhunjhunwala     218
SK Warne            219
BA Stokes           227
                   ...
S Dhawan           3005
RG Sharma          3274
SK Raina           3369
G Gambhir          3433
V Kohli            3494
Name: batsman, Length: 142, dtype: int64

In [72]:
def strikeratefunc(totalruns1,ballplayed1,playername):
  if playername in list1:
    strikerate=(totalruns1/ballplayed1)*100
    return strikerate

strikeratefunc(4423,3494,'V Kohli')

126.58843732112193