<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_ipl_data_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd

ipldata=pd.read_csv('/content/iplmatches.csv')

ipldata.head().sort_values(['city','date'],ascending=[True,False])

                     # this is also correct ipldata.head().sort_values(by=['city','date'],ascending=[True,False])

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

## In how many cities ipl is played?

In [61]:
print(ipldata['city'].nunique())

print(ipldata.drop_duplicates(['city']).shape[0])    # i think this is also counting nan (last value)....hence giving 30 instead 31

ipldata['city'].unique()

30
31

array(['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Bangalore', 'Mumbai',
       'Kolkata', 'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai',
       'Cape Town', 'Port Elizabeth', 'Durban', 'Centurion',
       'East London', 'Johannesburg', 'Kimberley', 'Bloemfontein',
       'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala', 'Kochi',
       'Visakhapatnam', 'Raipur', 'Ranchi', 'Abu Dhabi', 'Sharjah', nan],
      dtype=object)

In [63]:
ipldata['city'].fillna('Bangalore',inplace=True)     # we have replaced null(nan) value in city column with bangalore


print(ipldata['city'].nunique())

print(ipldata['city'].unique())

print(ipldata.drop_duplicates(['city']).shape[0])    # now we are getting 30 instead of 31

30
['Hyderabad' 'Pune' 'Rajkot' 'Indore' 'Bangalore' 'Mumbai' 'Kolkata'
 'Delhi' 'Chandigarh' 'Kanpur' 'Jaipur' 'Chennai' 'Cape Town'
 'Port Elizabeth' 'Durban' 'Centurion' 'East London' 'Johannesburg'
 'Kimberley' 'Bloemfontein' 'Ahmedabad' 'Cuttack' 'Nagpur' 'Dharamsala'
 'Kochi' 'Visakhapatnam' 'Raipur' 'Ranchi' 'Abu Dhabi' 'Sharjah']
30

In [73]:
finaldata=ipldata.drop_duplicates(['season'],keep='last')
     # keep last --meaning last record of that season... there are many matches played in particular season or year

finaldata[['season','date','winner']].sort_values(['season'])  # sorting done by season not by values

# only final matches

     season        date                 winner
116    2008  2008-06-01       Rajasthan Royals
173    2009  2009-05-24        Deccan Chargers
233    2010  2010-04-25    Chennai Super Kings
306    2011  2011-05-28    Chennai Super Kings
380    2012  2012-05-27  Kolkata Knight Riders
456    2013  2013-05-26         Mumbai Indians
516    2014  2014-06-01  Kolkata Knight Riders
575    2015  2015-05-24         Mumbai Indians
635    2016  2016-05-29    Sunrisers Hyderabad
58     2017  2017-05-21         Mumbai Indians

In [77]:
# writing above code in single line
ipldata.drop_duplicates(['season'],keep='last')[['season','date','winner']].sort_values(['season'])

     season        date                 winner
116    2008  2008-06-01       Rajasthan Royals
173    2009  2009-05-24        Deccan Chargers
233    2010  2010-04-25    Chennai Super Kings
306    2011  2011-05-28    Chennai Super Kings
380    2012  2012-05-27  Kolkata Knight Riders
456    2013  2013-05-26         Mumbai Indians
516    2014  2014-06-01  Kolkata Knight Riders
575    2015  2015-05-24         Mumbai Indians
635    2016  2016-05-29    Sunrisers Hyderabad
58     2017  2017-05-21         Mumbai Indians