<a href="https://colab.research.google.com/github/revan-desai/Pandas_basic/blob/main/pandas_dateTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

indiatime=pd.DataFrame()

indiatime['fulldate']=pd.date_range('17/10/2022 08:30',periods=10,freq='d')

print(indiatime)


indiatime['R_day']=indiatime['fulldate'].dt.day
indiatime['R_month']=indiatime['fulldate'].dt.month
indiatime['R_year']=indiatime['fulldate'].dt.year

indiatime['R_hour']=indiatime['fulldate'].dt.hour
indiatime['R_min']=indiatime['fulldate'].dt.minute
print(indiatime)

             fulldate
0 2022-10-17 08:30:00
1 2022-10-18 08:30:00
2 2022-10-19 08:30:00
3 2022-10-20 08:30:00
4 2022-10-21 08:30:00
5 2022-10-22 08:30:00
6 2022-10-23 08:30:00
7 2022-10-24 08:30:00
8 2022-10-25 08:30:00
9 2022-10-26 08:30:00
             fulldate  R_day  R_month  R_year  R_hour  R_min
0 2022-10-17 08:30:00     17       10    2022       8     30
1 2022-10-18 08:30:00     18       10    2022       8     30
2 2022-10-19 08:30:00     19       10    2022       8     30
3 2022-10-20 08:30:00     20       10    2022       8     30
4 2022-10-21 08:30:00     21       10    2022       8     30
5 2022-10-22 08:30:00     22       10    2022       8     30
6 2022-10-23 08:30:00     23       10    2022       8     30
7 2022-10-24 08:30:00     24       10    2022       8     30
8 2022-10-25 08:30:00     25       10    2022       8     30
9 2022-10-26 08:30:00     26       10    2022       8     30

##Current date in different formats

In [ ]:
from datetime import date

today=date.today()

print(today)

2023-07-06

In [ ]:
from datetime import date

today=date.today()

d1=today.strftime('%d/%m/%y')
print(d1)

d2=today.strftime('%d-%B-%Y')

print(d2)

d3=today.strftime('%d %B %Y')

print(d3)

d4=today.strftime('%d %b, %Y')

print(d4)

06/07/23
06-July-2023
06 July 2023
06 Jul, 2023

## timedelta

In [ ]:
from datetime import datetime,time,date

d1=datetime(2023,12,22,8,30,5)     # fixed format is this--> (year,month,day,hour,minute,second)

d2=datetime(2024,12,22,8,30,6)

d2-d1

datetime.timedelta(days=366, seconds=1)

## Day first format
By default, to_datetime() will parse string with month first (MM/DD, MM DD, or MM-DD) format, and this arrangement is relatively unique in the United State.

In most of the rest of the world, the day is written first (DD/MM, DD MM, or DD-MM). If you would like Pandas to consider day first instead of month, you can set the argument dayfirst to True.

In [ ]:
import pandas as pd

df=pd.DataFrame()

df['date']=pd.date_range('17/10/2022 08:30',periods=5,freq='d')

df['date']=pd.to_datetime(df['date'],format='%d-%B-%Y %h:%min')

print(df['date'])

0   2022-10-17 08:30:00
1   2022-10-18 08:30:00
2   2022-10-19 08:30:00
3   2022-10-20 08:30:00
4   2022-10-21 08:30:00
Name: date, dtype: datetime64[ns]